<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="self.aub.study.mybatis.po"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/User.xml"/>
    </mappers>
</configuration>